* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #dde8e8, #DDDBD1 75%, #009688 75%);
    padding-top: 50px;
}

.main-container {
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    background-color: #ffffff;
}

/* user-info */
.user {
    height: 22%;
    background-color: #ffffff;

}

.user-img {
    width: 50px;
    vertical-align: middle;
}

.notifications {
    background-color: #8edafc;
}

.notifications .fa-bell-slash {
    padding: 12px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    color: #8edafc;
}

/* chats-list */


.chat-list {
    height: 78%;
    overflow-y: auto;
    cursor: pointer;
}

/* active-chat */

.chat-display {
    background-image: url(../img/mine.jpg);
    height: 85%;
    overflow-y: auto;
}

.input {
    background-color: #f3eeea;
    padding: 9px;
}

.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.recived {
    background-color: white;
}

.recived,
.sent {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
}

.newMessage {
    display: none;
}

/* attribute */

.fa-solid,
.fa-regular {
    color: #b1b1b1;
    margin-right: 30px;
    font-size: 25px;
}

.user-info,
.chat-info,
.active {
    background-color: #eaeaea;
}