<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.1/luxon.min.js"
        integrity="sha512-hZKz8wkgOcWeZanRioE6H6AC3OJspzJQyDBB5jLoZ1jIKbYDt5MwVIvU703WwE4sjvKZw9uNmmYlt29xKS27RA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="gradient">
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="box d-flex">

                        <!--colonna sx-->
                        <div class="contacts outline bgc">
                            <div class="top-contact d-flex justify-content-between p-2 align-items-center">
                                <div>
                                    <img class="img-avatar m-1" src="./img/avatar_1.jpg" alt="img">
                                    <span class="name m-1">Sofia</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-circle-notch m-1"></i>
                                    <i class="fa-solid fa-message m-1"></i>
                                    <i class="fa-solid fa-ellipsis-vertical m-1"></i>
                                </div>
                            </div>

                            <!--allert-->

                            <div class="d-flex justify-content-between p-2 align-items-center bgc-color">
                                <div class="d-flex justify-content-between p-2 align-items-center">
                                    <i class="fa-solid fa-bell-slash p-1 circle d-flex"></i>
                                    <div class="name m-1">
                                        <div>hcggvh</div>
                                        <div>uvjhbk</div>
                                    </div>
                                </div>
                            </div>

                            <!--input search-->

                            <div class="input-group mb-3 p-2">
                                <input type="text" class="form-control" placeholder="Ricerca contatto"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>

                            <!--contatti-->
                            <div class="contacts-section">
                                <div id="profile-left" class=" h-100 bg-white">

                                    <div class="bordbot" v-for="(item, index) in contactFind"
                                        @click="selectedChat(index)" :class="(activeItem === index ) ? 'bg-gray' : '' ">
                                        <div class="d-flex justify-content-between pe-1">
                                            <div class="d-flex align-items-center p-2">
                                                <img class="rounded-circle" :src="imgProfile(index)" alt="">
                                                <div class="p-2">
                                                    <h5>{{ contactFind[index].name }}</h5>
                                                    <p class="fnt-small">{{
                                                        contactFind[index].messages[contactFind[index].messages.length -
                                                        1].message }}</p>

                                                </div>
                                            </div>
                                            <div class="pt-3">{{item.messages[item.messages.length - 1].date.split('
                                                ')[1]}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--colonna DX Chat-->

                        <!--topchat-->
                        <div class="chat outline">
                            <div class="top-chat outline">
                                <div class="top-contact outline d-flex justify-content-between align-items-center p-2">
                                    <div
                                        class="profile-pic col-profile d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle" :src="imgProfile(activeItem)" alt="">
                                            <div class="p-2 d-flex flex-column">
                                                <div class="title">{{contacts[activeItem].name}}</div>
                                                <div>Ultimo accesso alle 10:00</div>
                                            </div>
                                        </div>
                                        <div class="notification">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                            <i class="fa-solid fa-paperclip"></i>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--middle chat-->

                            <div class="main-chat d-flex flex-row-reverse">

                                <div class="text">
                                    <div>
                                        <ul class="list-unstyled">
                                            <!-- Ciclo per stampare le chat di default-->
                                            <li class="list-item d-flex flex-column"
                                                v-for="(item, index) in contacts[activeItem].messages">
                                                <div
                                                    :class="(contacts[activeItem].messages[index].status == 'sent') ? 'sent' : 'received'">
                                                    <div class="cursor d-flex align-items-center">
                                                        {{ chatSendRec(index, activeItem) }}
                                                        <i class="ms-5 fa-solid fa-chevron-down"></i>
                                                        <div class="oa">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <!-- bottom chat-->

                            <div class="bottom-chat">
                                <div
                                    class="bottom top-contact outline d-flex justify-content-around align-items-center p-1">
                                    <i class="fa-regular fa-face-smile m-2"></i>
                                    <input type="text" placeholder="Scrivi un messaggio.." class="form-control"
                                        v-model="newTask" @keyup.enter="enterMessage()">
                                    <i class="fa-solid fa-microphone m-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>